<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="panth" translate="label" sortOrder="400">
            <label>Panth Extensions</label>
        </tab>
        <section id="panth_customoptions" translate="label" sortOrder="160"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Options</label>
            <tab>panth</tab>
            <resource>Panth_CustomOptions::config</resource>
            <group id="general" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Custom Options Styling</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
